/************ HTML ************/
/***PRIMARY***/
:root{
    --scale: 1;
    --slide-width:100%;
    --slide-margin: 0px;
    --slide-vh-wrap: 0vh;
    --slide-height: calc(100vh - var(--slide-vh-wrap));
    --title-size: 50px;
    --card-height:calc(70px) ;
    --font-size: calc(28px);
    --radius: calc(15px);
    --ui-font: sans-serif;
    --slide-font: sans-serif;
    --slide-font-shadow:  1px 2px 1px #000000dd;
    --ui-font-size: 18px;
    --ui-radius: 5px;
    --ui-height: 30px;
    --ui-display: none;
    --ui-span-display: none;
    --edit-span-width: calc(130px);
    --edit-btn-bg: none;
    --animation-speed: 0.2s;
    --accent: teal;
    --section-accent: #79dada;
    --light-accent: #00b8b8;
    --dark-accent: #005353;
    --slide-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    --ui-shadow:  0 0px 3px 1px rgba(0, 0, 0, 0.3);
    --ui-highlight:  0px 0px 1px 1px var(--light-accent);
    --ui-bg: #FFFFFF;
    --container-border: 0;
    --slide-highlight: none;
    --html-bg:white;
    --spanbg: #cecece;
    --tabview-border-color: var(--section-bg);
    --section-bg: #ebebeb;
    opacity: 0; /*All elements are 100% opaque until the script finish*/

}
*{
    transition-duration: var(--animation-speed);
}
/***ELEMENTS***/
header{
    display: flex;
    justify-content: center;
    padding: 4px;
}
body{
    display: flex;
    text-align:center;
    margin: 0;
    overflow: hidden;
}
h1, .h1{
    appearance: none;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    font-size: var(--title-size);
    margin: none;padding:none;
    display:flex;
    height: var(--title-size);
    line-height: var(--title-size);
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    vertical-align: middle;
}
main{
    display: block;
    text-align: center;
    background: blue;

}
hr{
    margin:0;
    margin-bottom: 7px;
}
html{
    background:var(--html-bg);
}



/************UI************/
/***PRIMARY***/
#ToolBar{
    vertical-align: middle;
    height: 100%;

}
#ToolBar > *{
    position: absolute;
    background: none;
    border: none;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: var(--title-size);
    padding-left: 50px;
    padding-right:30px;
    border-radius: var(--ui-radius);
}
#EditBtn{
    background: var(--edit-btn-bg);
    width: 100px;
    left: -28px;
    color: black;

}
#EditBtn:active{
    background: var(--accent);
}
#Slide {
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    width: var(--slide-width);
    height: var(--slide-height);
    background: white;
    text-align: center;
    display: block;
    padding: 0;
    padding-left: 0;
    margin: var(--slide-margin);
    box-shadow:var(--slide-shadow);
    transform: translate(var(--slide-move), 0);
}
#slide h1, .h1{
    appearance: none;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    font-size: var(--title-size);
    margin: none;padding:none;
    display:flex;
    height: var(--title-size);
    line-height: var(--title-size);
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    vertical-align: middle;
}
#ui{
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    top: calc(var(--title-size) + 9px);
    width: 400px;
    height: calc(100vh - var(--title-size) - 9px);
    display: var(--ui-display);
    position: absolute;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    background: var(--ui-bg);
    box-shadow: var(--slide-shadow);
    transform: translate(-390px, 0);
    transition-duration: var(--animation-speed);
    overflow-y: auto;
    padding: 13px;
    padding-left: 1px;
    scrollbar-gutter: stable;
    transition-delay: 0.25s;
    direction: rtl;
}
#ui:hover{
    transform: translate(0, 0);
    transition-delay: 0s;
}
#ui > *{
    font-family: var(--ui-font);
    direction: ltr;
    cursor: default;
    user-select: none;
}
#ui > h1{
    font-size: 38px;
    text-align:center;
}
#ui, section,{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#ui span:last-child, #ui vspan:last-child{
    margin-bottom: 0px;
}
#ui h2{
    text-align: center;
    font-size: 25px;
    margin: auto 0px auto 0px;
    padding: 10px;
    line-height: 25px;
    border-bottom: 1px solid darkgray;
}
/***CLASSES***/
.clickable{
    padding-top:0;
    padding-bottom:0;
    cursor: pointer;
}
.clickable:hover{
    --edit-btn-bg: var(--section-accent);
    --spanbg: var(--section-accent);
    color: black;
}
.clickable:active{
    --edit-btn-bg: var(--accent);
    background: var(--light-accent);
}
.trigger{
    display: none;
}
.compact{
    gap:0;
}
.compact > *{
    padding-top:0;
    margin-top: 2px;
    padding-bottom:0;
    margin-bottom: 0px;
    gap:0;

}
.nobg{
    background: #00000000;
}
.TabSpan{
    cursor: pointer;
}

/***TRANSITIONS***/
:disabled{
    cursor: default;
}
button:hover{
    background: var(--dark-accent);
}
button:active{
    background: var(--light-accent);
}
select:hover{
    box-shadow: var(--ui-highlight);
    border-color: var(--light-accent);
}
select:disabled{
    box-shadow: none;
    border-color: darkgray;
}
TabView > * span:hover{
    --spanbg: var(--section-accent);
}

/***ELEMENTS***/
button, input, select{
    font-size: var(--ui-font-size);
    height: var(--ui-height);
    font-family: var(--ui-font);
    line-height: var(--ui-font-size);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    outline: 0;
    border-radius: var(--ui-radius);
    cursor: pointer;
}
input[type="text"]{
    cursor: text;
}
span, vspan{
    text-align: center;
    display: var(--ui-display);
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    margin: 5px 0 5px 0;
    background: var(--spanbg);
    border-radius: var(--ui-radius);
    vertical-align: middle;

}
vspan{
    flex-direction: column;
}
section{
    background: var(--section-bg);
    border-radius: var(--ui-radius);
    padding: 10px;
    border: 5px;
    border-color: black;
}
section > * hr{
    border-color: darkgray;
    border-style: solid;
    margin: 0;
    border-width: 1px 0 0 0;
}
label{
    font-size: var(--ui-font-size);
    height: 100%;
    padding: 0;
    line-height: calc(var(--ui-font-size)*2);
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin: auto 5px auto 5px;
}
button, .button{
    width: 100%;
    height: calc(var(--ui-height) + 13px);
    background: var(--accent);
    color: white;
    font-weight: bold;
}
input, select{
    background: white;
    accent-color: var(--accent);
}
select,input[type="number"]{
    height: calc(var(--ui-height) + 13px);
    width: 150%;
    margin:auto;
}
option:checked{
    background-color: var(--section-accent);
}
TabView{
    display: block
}
TabView > * label{
    cursor: pointer;
}
TabView > * span{
    text-align: center;
    height: calc(var(--ui-height) + 8px);
    margin: none;
    padding-top:0;
    margin-top: 0px;
    padding-bottom:0;
    margin-bottom: 0px;
    gap:0;
    border-radius: 0;
}
TabView span{
    border: 1px solid var(--tabview-border-color);
    border-width: 0 0 2px 0;
}
TabView span:first-child{
    border: 1px solid var(--tabview-border-color);
    border-width: 0 0 2px 0;
    margin-top: 5px;
    border-radius: var(--ui-radius) var(--ui-radius) 0 0;
}
TabView span:last-child{
    border: 0px solid var(--tabview-border-color);
    margin-bottom: 0px;
    border-radius: 0 0 var(--ui-radius) var(--ui-radius);
}
TabView > * label{
    text-align: center;
    vertical-align:middle;
    font-size: calc(var(--ui-font-size) + 2px);
}
input[type="number"]{
    height: var(--ui-height);
}
input[type="color"]{
    width: 25%;
    height: 100%;
}
input[type="time"], input[type="text"]{
    display: inline;
    padding: 0;
    width: 75%;
    height:100%;
}
input[type="checkbox"],input[type="radio"]{
    height: 25px; width: 25px;
    margin: auto;
    padding: 20px;
    background: var(--accent);
}
input[type="radio"]{
/*     appearance: none; */
/*     opacity: 0; */
}
#VMC1,#VMC2,#VMC3,#VMC4{
    display: none;
}
input[type="range"]{
    margin-top: 0;
}
.edit{
    height: calc(55px);
    width: calc(39px);
    font-size: 26px;
}
div.edit{
    position: absolute;
    width: 137px;
    transform: translate(0px,0);
    height: calc(var(--card-height) + 0px);
    left: 99%;
    display:flex;
    flex-direction: column;
    margin: auto;
    transition-delay: 0.2s;
}
span.edit{
    position: relative;
    flex-direction: column;
    display: var(--ui-span-display);
    width: 130px;
    background: #c2c2c2;
    border: 1px;
    border-radius: var(--ui-radius);
    padding:0;padding-left: 7px;
    margin: auto;
    vertical-align: middle;
    transition-duration: var(--animation-speed);

}
span.edit:hover{
    box-shadow: var(--slide-shadow);

}
div.edit:hover{
    transform: translate(-120px,0);
    transition-delay: 0s;
}
button.edit{
    height: 100%;
    width: 45px;
    background: none;
    color: black;
    display: inline;
    box-shadow: none;
    padding: 0;
    margin: 0;
    position: relative;
    border-radius: var(--ui-radius);
    font-size: 20px;
    border: none;
}
button.edit:hover{
    background: #ff9898;
}
input[type="color"].edit{
    height: 39px;
    width:35px;
    background: none;
    border: none;
    margin: 0;
    box-shadow: none;
    display: inline;
    padding: 0px;
    vertical-align: middle;
    margin-top: auto;margin-bottom:auto;
}
input[type="time"].event::-webkit-calendar-picker-indicator { display: none; }
input[type="time"].event{
    border: 0;
    margin: auto;
    margin-right: 0;
}



/************SLIDE************/
/***Primary***/
#Semana,#Hoje,#Amanh達,#Modelos{
    padding:0;
    text-align:right;
    padding-left: 15px;
    padding-right: 15px;
}
#SlideTitle{
    height: var(--title-size);
    line-height: var(--title-size);
    width: auto;
}
/***CLASSES***/
.Hora{
    font-size: calc(var(--font-size) + 5px);
}
.ph{
    border-bottom: 0;
    box-shadow: none;
    background: none;
}

/***TRANSITIONS***/
Dia::after{
    content: ":";
    display: inline
}
.event:hover{
    text-shadow: var(--slide-highlight);
}
.event:focus{
    text-shadow: var(--slide-font-shadow);
}
/***ELEMENTS***/
Evento, Hora,.Hora, Titulo,.Titulo ,Dia {
    appearance: none;
    height: var(--card-height);
    border-radius: var(--radius);
    font-size: var(--font-size);
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    font-weight: 600;
    min-height: var(--font-size);
    line-height: var(--font-size);
}
Evento{
    height: auto; min-height: calc(var(--card-height) - 22px);
    width: calc(100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-radius: var(--radius);
    line-height: var(--line-height);
    vertical-align: middle;
    margin: auto;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    background: #a1a1a1;
    padding-left: 0px;
}
Container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;padding-bottom:0px;
    border-radius: var(--radius);
}
Leiaute{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-left: var(--container-border);

}
Cart達o, .card {
    border-radius: var(--radius);
    background: darkblue;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: stretch;
    box-shadow: var(--slide-shadow);
}
Cart達o > * {
    text-shadow:var(--slide-font-shadow);
}
Cart達o{
    min-width: 100%;
}
Titulo, .Titulo, .Titulo.event{
    background: none;
    border: none;
    margin: 0;
    color: white;
    vertical-align: middle;
    text-align: center;
    line-height: var(--card-height);
    width: 100%;
}
Dia, .Dia{
    appearance: none;
    max-width: 160px;
    width: 18%;
    padding-right: 0px;
    display: inline;
    vertical-align: top;
    text-align: left;
    line-height: var(--font-size);
    font-size:  min(var(--font-size), 30px);
    font-weight: bold;
    height: 100%;
    margin-left: 5px; margin-right: 0; margin-top:5px;
}
Hora, .Hora {
    max-width: 150px;
    padding-left: calc(20px); padding-right: calc(20px);
    vertical-align: middle;
    text-align: center;
    height: var(--card-height);
    border-radius: var(--radius);
    line-height: var(--card-height);
    color: white;
    background: darkslateblue;
}



/************WEBKIT************/
/***ELEMENTS***/
::-webkit-scrollbar {
    width: 12px;
    opacity: 0;
}
::-webkit-scrollbar-track {
    background: linear-gradient(90deg, rgba(0,0,0,0) 39%, darkgray 39%, darkgray 55%, rgba(0,0,0,0) 55%);
    box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--accent);
    border: 3px solid white;
}
/***TRANSITIONS***/
::-webkit-scrollbar-thumb:hover{
    background: var(--dark-accent);
    border: 2px solid var(--accent);
}
::-webkit-scrollbar-thumb:active{
    background: var(--light-accent);
}
